:root {
    --background-color: red;
    --text: black;
    --left-side-width: 40vw;
    --right-side-width: 60vw;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--txt);
    outline: 1px solid red;
}

.container {
    display: flex;
}

.left-side {
    width: var(--left-side-width);
    background-color: var(background-color);
}

.right-side {
    width: var(--right-side-width);
    background-color: wheat;

}